$tab-icon-width: 24px !default;
$tab-icon-height: 24px !default;
$tab-closable-icon-width: 18px !default;
$tab-closable-icon-height: 18px !default;

$tab-color: #000 !default;
$tab-color-active: #fff !default;
$tab-color-disabled: $tab-color !default;

$tab-padding: 3px 8px !default;

$tab-inner-border-color-focus: transparent !default;
$tab-inner-border-color-focus-over: transparent !default;
$tab-inner-border-color-focus-active: transparent !default;
