/** @class Ext.grid.column.Column */
//

$grid-column-header-font-weight: $font-weight !default;
$grid-column-header-color: #575f72 !default;

$grid-column-header-focus-border-color: #cfcfcf !default;