.#{$prefix}hmenu-sort-asc {
    background-image: url('/fm/resources/images/actions/16/az.png');
}

.#{$prefix}hmenu-sort-desc {
    background-image: url('/fm/resources/images/actions/16/za.png');
}

.#{$prefix}cols-icon {
    background-image: url('/fm/resources/images/actions/16/column.png');
}

.#{$prefix}grid-body {
    border-bottom-color: #e3e3e3;
}